*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 'Zen Dots', cursive;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #000000;
  overflow-x: hidden;
  overflow-y: auto;
  color: #ffffff;
  height: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

.not-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 128rem;
  padding: 0 5rem;
  margin-left: auto;
}

.bg-video {
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.page-content {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1.5rem 0;
}

.nothing {
  opacity: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link > img {
  display: block;
  width: 50rem;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}

.navlink {
  font-size: 2.6rem;
  font-weight: 400;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

/* Video-Project */
.video-project {
  margin: 8rem 0;
}

.project-container {
  max-width: 900px;
  width: min(100% - 3.5rem);
  margin: 0 auto;
}

.video-project-title {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.video-project-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-project-iframe > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Projects */

.main-container {
  max-width: 128rem;
  width: min(100% - 3.5rem);
  margin: 0 auto;
}

.projects {
  margin: 15rem 0;
}

.projects-title {
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
  word-break: break-all;
}

.projects-links,
.about-list,
.about-content,
.daten-content {
  margin-top: 3.5rem;
}

.projects-link:hover {
  font-weight: 600;
}

.about-content {
  max-width: 76.7rem;
  width: 100%;
}

.about-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-top: 2.5rem;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

.projects-link {
  display: block;
  font-size: 3rem;
  margin-top: 2.5rem;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

.about-list-item {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  font-size: 3rem;
  margin-top: 2.5rem;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

.about-list-title {
  display: block;
  width: 4.5rem;
}

.daten-data {
  margin-top: 8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.daten-data:nth-child(1) {
  margin-top: 0;
}

.daten-title {
  font-family: 'Zen Dots', cursive;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.daten-data-section {
  margin-bottom: 1.5rem;
}

.daten-subtitle {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.daten-list {
  list-style: disc;
  margin-left: 2.5rem;
}

.daten-list > li {
  font-size: 2rem;
  margin-top: 1.2rem;
}

.daten-desc {
  font-size: 2rem;
  margin-top: 1.2rem;
}

.daten-question {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.daten-answer {
  font-size: 2rem;
}

.daten-question-answer {
  margin-bottom: 1.5rem;
}

.daten-desc-link {
  color: rgb(82, 143, 221);
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 3.5rem;
}

.footer-link {
  font-size: 2.6rem;
  font-weight: 400;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

.wrapper-content {
  flex: 1;
}

.footer-page,
.footer {
  padding-bottom: 1.5rem;
}

.footer-back-link {
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}

/* Media Queries */

@media screen and (min-width: 3840px) {
  .container {
    max-width: 3500px;
    margin: 0 auto;
  }

  .main-container {
    max-width: 3400px;
    margin: 0 auto;
  }

  .about-content {
    max-width: 3000px;
    width: 100%;
  }

  .project-container {
    max-width: 3000px;
  }

  .header-link > img {
    display: block;
    width: 100rem;
  }

  .navlink,
  .footer-link {
    font-size: 5.2rem;
  }

  .projects-title {
    font-size: 12rem;
  }

  .projects-link,
  .about-text,
  .about-list-item {
    font-size: 6rem;
  }

  .about-list-title {
    width: 9rem;
  }

  .footer-back-link {
    font-size: 8rem;
  }

  .video-project-title {
    font-size: 6.4rem;
  }

  .footer-links,
  .navbar {
    column-gap: 7rem;
  }

  .projects {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    padding: 3rem 0;
  }

  .footer-page,
  .footer {
    padding-bottom: 3rem;
  }
}

@media (max-width: 992px) {
  .projects-title {
    font-size: 5rem;
  }
}

@media (max-width: 935px) {
  .container {
    padding: 0 3rem;
    margin: 0 auto;
  }

  .header-link > img {
    width: 35rem;
  }
}

@media (min-width: 767px) {
  .bg-video.mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .bg-video.desktop {
    display: none;
  }

  .projects-title {
    font-size: 3.5rem;
  }

  .daten-title {
    font-size: 2.8rem;
  }

  .daten-subtitle {
    font-size: 2.2rem;
  }

  .daten-question,
  .daten-answer,
  .daten-subtitle,
  .daten-list > li {
    font-size: 1.8rem;
  }

  .daten-desc {
    font-size: 1.8rem;
  }

  .navlink,
  .footer-link {
    font-size: 1.8rem;
  }

  .projects-link,
  .about-list-item,
  .about-text {
    font-size: 2rem;
  }

  .about-list-title {
    width: 2.3rem;
  }

  .video-project-title {
    font-size: 2.3rem;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0;
    width: min(100% - 2.5rem);
  }

  .main-container {
    width: min(100% - 2.5rem);
  }

  .header-link > img {
    width: 30rem;
  }

  .navbar {
    column-gap: 2.5rem;
  }
}

@media (max-width: 550px) {
  .header-link > img {
    width: 35rem;
  }

  .header-content {
    flex-direction: column;
    row-gap: 2rem;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .projects {
    margin: 10rem 0;
  }

  .footer-back-link {
    font-size: 3.2rem;
  }

  .projects-title {
    font-size: 2.3rem;
  }

  .daten-title {
    font-size: 2rem;
  }

  .daten-subtitle,
  .daten-list > li {
    font-size: 1.6rem;
  }

  .daten-question,
  .daten-answer {
    font-size: 1.6rem;
  }

  .daten-desc {
    font-size: 1.6rem;
  }

  .projects-link,
  .about-list-item,
  .about-text {
    font-size: 1.8rem;
  }
}
